:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

#about-me {
    color: #482d84;
}

.pgewrapper {
    margin: 50px 150px 70px 150px;
    /* display: flex;
    flex: 0 1 auto; */
    transition: 0.4s ease-in-out;
    display: flow-root;
}

body {
    position: relative;
}

.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    width: 1.5px;
    z-index: 1;
    background-color: #482d84;
    transition: 0.4s ease;
}

.star{
    height: 25px;
    fill: #f9f0ef;
    stroke: #482d84; 
    stroke-width: 2.5px;
    z-index: 10;
    position: absolute;
    left: 41px;
    margin-top: 40px;
    transition: 0.4s ease;
}
#star2 {
    margin-top: 25px;
}

.me {
    display: flex;
    flex-direction: row;
    /* flex: 0 1 auto; */
    margin: 0 0 25px 0;
}

.pic-1 {
    max-width: 600px;
    width: 100%;
    min-width: 0;
    object-fit: cover;
    object-position: top;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    transition: 0.3s ease;
    height: 600px;
    z-index: 1;
}

/* –——————————————————————————— ABOUT ME DESCRIPTION –——————————————————————————— */

.about-me {
    display: flex;
    flex-direction: column;
    width: 425px;
    flex: 0 0 auto;
    justify-content: space-between;
    margin: 0 25px;
    transition: 0.3s ease;
}

.me-des {
    height: 100%; border-radius: 10px;
    background: 
        linear-gradient(150deg, #B0B9CB, #D29484, transparent 30%),
        linear-gradient(330deg, #B0B9CB, #C79CBE, transparent 30%),
        linear-gradient(225deg, #D29484, #D17670,#B0B9CB, #C79CBE, #D17670, #B0B9CB);
    padding: 20px;
    border: 1.5px solid #482d84;
    margin: 0;
    transition: 0.1s ease-in-out;
}

.me-des h1 {
    font: 500 65px/1 Eckmannpsych, Tuppence, Signika, sans-serif;
    letter-spacing: 1.5px;
    font-feature-settings: "ss01";
    text-wrap: nowrap;
    color: #482d84;
    margin: 10px;
    transition: 0.1s ease;
}

.me-des h1:hover {
    transform: rotate(-3deg);
}

.me-des h2 {
    font: 500 27px/1 Tuppence, sans-serif;
    letter-spacing: .25px;
    text-wrap: nowrap;
    color: #f9f0ef;
    margin: 10px 10px 30px 10px;
}

.me-des h2:hover {
    transform: rotate(3deg);
}

.me-des p {
    color: #f9f0ef;
    font: 100 16px/1.35 Signika, sans-serif;
    margin: 20px 10px 10px 10px;
}

.me-des:hover {
    transform: scale(103%);
}

/* –——————————————————————————— STYLE THE SOCIALS –——————————————————————————— */

.socials {
    transition: 0.1s ease-in-out;
    z-index: 10;
    flex-wrap: wrap;
    font: 100 16px/1.35 Signika, sans-serif;
}

.socials > div {
    border-radius: 10px;
    border: 1.5px solid #482d84;
    color: #f9f0ef;
    padding: 12px;
    margin: 17px 0 0 0;
    
}

.socials div a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.1s ease-in-out;
}

/* style the svg icons */
.socials div svg {
    height: 20px;
}

.socials svg path {
    fill: #f9f0ef;
    stroke-width: 0px;
    transition: 0.1s ease-in-out;
}

.socials div div {
    margin-left: 7px;
}

.email-button {
    background-color: #C196B8;
    transition: 0.1s ease-in-out;
}

.linkedin-button {
    background-color: #AAB3C5;
    transition: 0.1s ease-in-out;
}

.instagram-button {
    background-color: #D29484;
    transition: 0.1s ease-in-out;
}

.socials > div:hover {
    transform: scale(103%);
}

.socials a:hover {
    color: #482d84;
}

.socials a:hover path {
    fill: #482d84;
    stroke-width: 0px;
}

/* social button click effect */
.email-button:has(a:active) {
    background-color: #482d84;
}
.email-button a:active {
    color: #C196B8;
}
.email-button a:active path {
    fill: #C196B8;
}

.linkedin-button:has(a:active) {
    background-color: #482d84;
}
.linkedin-button a:active {
    color: #B0B9CB;
}
.linkedin-button a:active path {
    fill: #B0B9CB;
}

.instagram-button:has(a:active) {
    background-color:#482d84;
}
.instagram-button a:active {
    color: #D29484;
}
.instagram-button a:active path {
    fill: #D29484;
}

/* –——————————————————————————— CURRENTLY STYLING –——————————————————————————— */
.currently {
    display: flex;
    flex-direction: column;
    margin-left: auto; 
    margin-right: 0;
    text-wrap: nowrap;
    transition: 0.2s ease;
}

.currently h3 {
    font: 500 25px/1 Tuppence, sans-serif;
    letter-spacing: .25px;
    color: #482d84;
    padding: 10px 20px 15px 20px;
    background-color: #C196B8;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    margin: 0 0 25px 0;
}

.currently div div {
    padding: 10px 15px;
    margin: 15px auto;
    background-color: #C196B8;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    width: 200px;
    color: #f9f0ef;
    font: 300 16px/1.5 Signika, sans-serif;
    letter-spacing: 0.2px;
    transition: 0.1s ease-in-out;
}
.currently h4 {
    font: 500 23px/1 Tuppence, sans-serif;
    letter-spacing: .25px;
    color: #482d84;
    margin: 15px 0 15px 20px;
}
.listening {
    background-color: #D29484;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    padding-bottom: 7px;
    margin-bottom: 25px;
}
.learning {
    background-color: #B0B9CB;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    padding-bottom: 7px;
}
/* .learning h4 {
    font: 500 25px/1 Tuppence, sans-serif;
    letter-spacing: .25px;
    color: #C196B8;
    margin: 20px 0 20px 40px;
} */
/* .learning div {
    padding: 13px 15px;
    margin: 15px 0 15px 40px;
    background-color: #C196B8;
    border-radius: 10px;
    width: 200px;
    color: #f9f0ef;
    font: 300 17px/1.5 Signika, sans-serif;
    letter-spacing: 0.2px;
    transition: 0.1s ease-in-out;
} */
.currently div div:hover {
    transform: scale(105%);
}
/* .learning div:hover {
    transform: scale(103%);
} */

/* –——————————————————————————— BOTTOM HALF PAGE POSITIONING –——————————————————————————— */
.additional {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
}

/* –——————————————————————————— TOOLS –——————————————————————————— */
.tools {
    /* margin: 50px 0 0 0; */
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    max-height: fit-content;
}

.tools > div {
    background-color: #C196B8;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    margin-right: 25px;
}

.tools ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 100%;
    min-width: 0;
    display: flex;
}

.tools h3 {
    font: 500 25px/1 Tuppence, sans-serif;
    letter-spacing: .25px;
    color: #482d84;
    border-radius: 10px;
    padding: 20px 20px 0px 25px;
    margin: 0;
}

/* STYLE LIST ITEMS */
.tools li {
    padding: 14px 17px;
    margin: 5px 5px;
    border: 1.5px solid #482d84;
    border-radius: 10px;
    color: #f9f0ef;
    font: 300 17px/1.5 Signika, sans-serif;
    letter-spacing: 0.2px;
    text-wrap-mode: nowrap;
    list-style: none;
    transition: 0.1s ease-in-out;
    display: flex;
    flex-basis: 25%;
}

.tools div li {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: 100%;
    /* min-width: auto; */
}

.tools div li div {
    margin: 0 auto;
}

/* SET COLOR PATTERN */
/* .tools li:nth-child(4n) {
    background-color: #C196B8;
} */
.tools li:nth-child(3n) {
    background-color: #B0B9CB;
}
.tools li:nth-child(3n+1) {
    background-color: #D17670;
}
.tools li:nth-child(3n+2) {
    background-color: #D29484;
}

/* SET HOVER SCALE EFFECT */
.tools li:hover {
    transform: scale(103%);
}

.colorblock {
    height: 100%;
    margin-top: 25px;
    max-width: auto;
    border-radius: 10px;
    background: 
        linear-gradient(150deg, #C79CBE, #D89D8A, transparent 30%),
        linear-gradient(330deg, #D17670, #C79CBE, transparent 30%),
        linear-gradient(225deg, #C79CBE, #D89D8A, #B0B9CB, #D17670, #B0B9CB);
        border: 1.5px solid #482d84;
}
.colorstack {
    position: absolute;
    display: none;
}

/* –——————————————————————————— IMAGE 2 –——————————————————————————— */

.pic-2 {
    display: flex;
    flex: 0 1 auto;
    border: 1.5px solid #482d84;
    /* margin: 0 0 0 20px; */
    border-radius: 10px;
    max-width: 475px;
    min-width: 350px;
    height: 500px;
    object-fit: cover;
    align-self: flex-start;
    margin-left: auto; 
    margin-right: 0;
    /* transition: 0.3s ease-in; */
}

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1380px) {
    .pgewrapper {
        margin: 50px 70px 70px 70px;
    }
    .line {
        left: 33px; top: 0px;
    }
    .star{
        left: 24px;
    }
}

@media (max-width: 1200px) {
    .currently {
        position: absolute;
        display: none;
    }
    .about-me {
        margin-right: 0;
    }
}

@media (max-width: 1050px) {
    .pgewrapper {
        margin: 50px 50px 70px 70px;
    }
    /* .me-des h1  {
        font: 500 60px/1 Eckmannpsych, Signika, sans-serif;
        letter-spacing: 1.5px;
        font-feature-settings: "ss01";
        text-wrap: nowrap;
        color: #482d84;
    } */
    /* .me-des h2 {
        font: 500 23px/1 Tuppence, sans-serif;
        letter-spacing: .25px;
        text-wrap: nowrap;
    } */
    #star1 {
        margin-top: 417px;
    }
    .currently {
        position: absolute;
        display: none;
    }
    .me {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pic-2 {
        display: none;
        position: absolute;
    }
    .colorblock {
        position: absolute;
        display: none;
    }
    .pic-1 {
        height: 350px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: 10% 10%;
        flex-grow: 1;
        margin-bottom: 25px;
        align-self: flex-start;
    }
    .about-me-direction {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
    }
    .about-me {
        min-width: 0;
        max-width: 450px;
        width: 100%;
        margin: 0;
    }
    .colorstack {
        position: static;
        display: flex;
        margin-left: 25px;
        /* height: 100%; */
        min-height: 0px;
        max-height: 1000px;
        width: 100%;
        /* max-width: 300px; */
        min-width: 0;
        border-radius: 10px;
        background: 
            linear-gradient(150deg, #C79CBE, #D89D8A, transparent 30%),
            linear-gradient(330deg, #D17670, #C79CBE, transparent 30%),
            linear-gradient(225deg, #C79CBE, #D89D8A, #B0B9CB, #D17670, #B0B9CB);
            border: 1.5px solid #482d84;
    }
    .tools > div {
        margin: 0;
    }
    .tools ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 15px;
        width: 100%;
        min-width: 0;
    }
    .tools li {
        font: 300 15px/1.5 Signika, sans-serif;
        padding: 12px 15px;
    }
    .me {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 620px) {
    .colorstack {
        display: none;
        position: absolute;
    }
    .pgewrapper {
        margin: 50px 30px 70px 50px;
    }
    .line {
        left: 23px; top: 0px;
    }
    .star{
        left: 14px;
    }
    .me {
        margin: 0 0 20px 0;
    }
    .about-me {
        max-width: 100%;
    }
    .me-des h1  {
        font: 500 45px/1 Eckmannpsych, Signika, sans-serif;
        letter-spacing: 1.5px;
        font-feature-settings: "ss01";
        text-wrap: nowrap;
        color: #482d84;
    }
    .me-des h2 {
        font: 500 23px/1 Tuppence, sans-serif;
        letter-spacing: .25px;
        text-wrap: nowrap;
    }
}
