
::selection {
    background-color: var(--orange);
    color: var(--cream);
}
::-moz-selection {
    background-color: var(--orange);
    color: var(--cream);
}
img::selection {
    background-color: var(--pink);
}
img::-moz-selection {
    background-color: var(--pink);
}
body {
    background-size: 15px 15px;
    background-position: 1%;
    background-image:
        linear-gradient(to right, var(--opacity-brown) .75px, transparent .75px),
        linear-gradient(to bottom, var(--opacity-brown) .75px, transparent .75px);
        background-color: var(--cream);
    /* padding: 45px 0 10px 0; */
    /* box-shadow: inset 0px -3px 5px -2px var(--opacity-brown); */
    overflow: hidden;
    /* margin-bottom: 40px; */
    position: relative;
}
footer {
    background-position: 1% 1.5% !important;
    background-image: radial-gradient(var(--brown) .75px, transparent 0) !important;
    background-size: 15px 15px !important;
    background-color: var(--cream) !important;
}
.contact-foot {
    padding-top: 0 !important;
}
/* –——————————————————————————— PGEWRAPPER –——————————————————————————— */
.pgewrapper {
    max-width: 1300px;
    min-width: 0px;
    width: auto;
    margin: 100px auto 0 auto;
    padding: 0 30px;
}
/* –——————————————————————————— INTRO –——————————————————————————— */
.me-intro {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 700px;
    margin: 0 50px;
}
.me-photo img {
    width: 600px;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
}
.me-intro-des {
    padding: 40px 20px;
    background-color: var(--cream);
    border: dashed  1px var(--brown);
    border-radius: 5px;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    position: relative;
    height: 450px;
    margin: auto 0 auto auto;
}
.intro-text {
    flex-direction: column;
    position: relative;
    top: 0; right: 0;
    height: 100%;
}
.intro-text div {
    width: 30vw;
    margin: 0 auto;
    height: 100%;
    align-content: center;
}
.intro-text p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .25px;
}
.intro-text p:not(:last-child) {
    margin-bottom: 20px;
}
.me-intro-des .stickers {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.stickers img:nth-child(1) {
    width: 300px;
    transform: rotate(12deg);
    position: absolute;
    top: -110px; right: 80px;   
}
.stickers img:nth-child(2) {
    height: 60px;
    position: absolute;
    top: 25px; right: 70px; 
    transition: 1s ease;
}
.stickers img:nth-child(2):hover {
    transform: rotate(360deg);
}
.stickers img:nth-child(3) {
    height: 80px;
    position: absolute;
    bottom: 70px; left: 30px; 
    transition: 1s ease;
}
.stickers img:nth-child(3):hover {
    transform: rotate(180deg);
}

.stickers img:nth-child(4) {
    height: 300px;
    position: absolute;
    bottom: -100px; right: 50px; 
    transform: rotate(15deg);
}
/* –——————————————————————————— SKILLS –——————————————————————————— */
.experience {
    margin: 50px auto 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.experience .skills {
    background-color: var(--cream);
    border: solid 1px var(--brown);
    border-radius: 5px;
    margin-right: 60px;
    max-width: 550px;
    min-width: 0;
    width: 100%;
    position: relative;
    padding: 35px 20px 10px 20px;
}
.skills-box {
    justify-self: center;
    border: dashed  1px var(--brown);
    background-position: 1% 1.5% !important;
    background-image: radial-gradient(var(--brown) .75px, transparent 0) !important;
    background-size: 15px 15px !important;
    background-color: var(--cream) !important;
    position: relative;
    max-width: 520px;
    min-width: fit-content;
    width: 100%;
}
.experience-row {
    display: flex;
    flex-direction: row;
    margin: 30px 20px 20px 20px;
    justify-content: center;
}
.experience-col {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 150px;
    width: 100%;
}
.experience-col:first-child {
    margin-right: 7px;
}
.experience-col:first-child .experience-skill:last-child {
    display: none;
    position: absolute;
}
.experience-col:last-child {
    margin-left: 7px;
}
.experience-skill {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .25px;
    color: var(--brown);
    background-color: var(--teal);
    border: solid 1px var(--brown);
    border-radius: 15px;
    padding: 5px 0;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}
.skills-box .experience-title {
    margin: 20px auto;
    position: absolute;
    top: -40px; left: 0; right: 0;
}
.skills-corner {
    background-color: var(--pink);
    border: solid 1px var(--brown);
    border-radius: 1px;
    height: 10px;
    width: 10px;
    /* position: absolute; */
}
.corner-1 {
    position: absolute;
    top: -6px; left: -6px;
}
.corner-2 {
    position: absolute;
    top: -6px; right: -6px;
}
.corner-3 {
    position: absolute;
    bottom: -6px; left: -6px;
}
.corner-4 {
    position: absolute;
    bottom: -6px; right: -6px;
}

.experience-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .25px;
    color: var(--brown);
    background-color: var(--pink);
    border: solid 1px var(--brown);
    border-radius: 5px;
    padding: 5px 15px;
    width: fit-content;
    margin: 0 auto;
}

.skills-list {
    margin: 20px;
    justify-self: center;
}
.experience-position {
    margin: 15px 0 35px 0;
}
.experience-year {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .25px;
    color: var(--brown);
}
.experience-location {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .25px;
    color: var(--orange);    
}
.experience-copy {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .25px;
    color: var(--brown);    
}

/* –——————————————————————————— ENVELOPE –——————————————————————————— */

.envelope img {
    max-width: 700px;
    min-width: 530px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* –——————————————————————————— REACH OUT –——————————————————————————— */
.reach-out-container {
    background-image: url(about-me/about-me-checker.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    left: -1px; bottom: 0;
    height: 150px;
    width: 100%;
    margin: 50px 0 0 0;
    align-content: center;
    border: solid 1px var(--brown);
}
.reach-out-container a {
    text-decoration: none;
    width: fit-content !important;
}
.reach-out-container p:hover {
    background-color: var(--brown);
    color: var(--teal);
}
.reach-out-container p {
    font-family: "Swear-Display";
    font-weight: 700;
    font-style: italic;
    font-size: 45px;
    color: var(--brown);
    padding: 10px 40px 15px 40px;
    background-color: var(--teal);
    border: solid 1px var(--brown);
    border-radius: 200px;
    width: fit-content;
    /* justify-self: center; */
    margin: auto;
    cursor: url(cursors/pointer-light.svg), pointer !important;
    text-align: center;
    transition: .3s ease;
}

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1250px) {
    .me-intro {
        height: 600px;
    }
    .me-photo img {
        width: 500px;
    }
    .intro-text p {
        font-size: 16px;
    }
    .me-intro-des {
        height: 400px;
    }
}
@media (max-width: 1150px) {
    .me-intro {
        height: 550px;
    }
    .me-photo img {
        width: 450px;
    }
    .intro-text p {
        font-size: 14px;
    }
    .me-intro-des {
        height: 350px;
    }
    .stickers img:nth-child(1) {
        width: 250px; 
        position: absolute;
        top: -90px; right: 60px;
    }
    .stickers img:nth-child(2) {
        height: 40px;
        position: absolute;
        top: 20px; right: 50px; 
        }
    .stickers img:nth-child(3) {
        height: 60px; 
    }
    .stickers img:nth-child(4) {
        height: 250px;
        bottom: -75px; right: 25px;
    }
    .experience-position {
        margin: 15px 0 20px 0;
    }
    .experience-location {
        font-size: 18px;
    }
    .experience-skill {
        font-size: 14px;
    }
    .experience-copy {
        font-size: 14px;
    }   
    .envelope img {
        max-width: 700px;
        min-width: 400px;
        width: 100%;
    } 
}
@media (max-width: 950px) {
    .me-intro {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin: 0 50px;
    }
    .me-photo {
        justify-content: center;
        /* width: 100%; */
    }
    .me-photo img {
        /* max-width: 600px;
        min-width: 0; */
        width: 100%;
        max-height: 600px;
        min-height: 0;
        object-fit: contain;
        margin: 0 auto;
    }
    .intro-text p {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: .25px;
    }
    .me-intro-des {
        width: auto;
        position: relative;
        height: 450px;
        margin: 50px auto 70px auto;
    }
    .intro-text div {
        max-width: 450px;
        min-width: 0;
        width: 60vw;
        /* margin: 0 20px; */
        height: 100%;
        align-content: center;
    }
    .stickers img:nth-child(1) {
        width: 300px;
        transform: rotate(12deg);
        position: absolute;
        top: -110px; right: 80px;   
    }
    .stickers img:nth-child(2) {
        height: 60px;
        position: absolute;
        top: 25px; right: 70px; 
    }
    .stickers img:nth-child(3) {
        height: 80px;
        position: absolute;
        bottom: 70px; left: 30px; 
    }
    .stickers img:nth-child(4) {
        height: 300px;
        position: absolute;
        bottom: -100px; right: 50px; 
        transform: rotate(15deg);
    }
    .experience {
        flex-direction: column;
    }
    .experience .skills {
        margin: 0 30px 30px 30px;
        padding: 0 0 10px 0;
    }   
    .skills-box {
        margin: 35px 20px 0px 20px;
        width: 90%;
    }
    .envelope img {
        max-width: 500px;
        min-width: 200px;
        width: 100%;
    } 
}
@media (max-width: 600px) {
    .stickers img:nth-child(1) {
        width: 250px; 
        position: absolute;
        top: -90px; right: 60px;
    }
    .stickers img:nth-child(2) {
        height: 40px;
        position: absolute;
        top: 20px; right: 50px; 
    }
    .stickers img:nth-child(3) {
        height: 60px; 
    }
    .stickers img:nth-child(4) {
        height: 225px;
        bottom: -75px; right: 25px;
    }.me-intro {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin: 0 10px;
    }
    .me-intro-des {
        width: 80%;
        position: relative;
        height: 450px;
        margin: 50px auto 70px auto;
    }
    .intro-text p {
        font-size: 16px;
    }
    .reach-out-container {
        height: 100px;
    }
    .reach-out-container p {
        font-size: 28px;
    }
    .experience-row {
        flex-direction: column;
    }
    .experience-skill {
        font-size: 16px;
    }
    .experience-col {
        max-width: 250px;
        min-width: 150px;
        width: 100%;
        margin: auto !important;
    }
    .experience-col:first-child .experience-skill:last-child {
        display: block;
        position: relative;
    }
    .experience-col:last-child {
        display: none;
        position: absolute;
    }
}
@media (max-width: 450px) {
    .me-intro-des {
        width: 90%;
        min-width: 100px;
    }
    .stickers img:nth-child(1) {
        width: 230px;
        /* transform: rotate(12deg);
        position: absolute;
        top: -110px; right: 80px;    */
    }
}