:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

#about-me {
    color: var(--purple);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--purple);
  }
.pgewrapper {
    margin: 50px 150px 70px 150px;
    /* display: flex;
    flex: 0 1 auto; */
    transition: 0.4s ease-in-out;
    display: flow-root;
}

body {
    position: relative;
}

.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    width: 1.2px;
    z-index: 1;
    background-color: var(--dark);
    transition: 0.4s ease;
}

.star{
    height: 25px;
    fill: var(--cream);
    stroke: var(--dark); 
    stroke-width: 1.7px;
    z-index: 10;
    position: absolute;
    left: 40.5px;
    margin-top: 40px;
    transition: 0.4s ease;
}
#star2 {
    margin-top: 15px;
}

.me {
    display: flex;
    flex-direction: row;
    /* flex: 0 1 auto; */
    margin: 0 0 25px 0;
}

.pic-1 {
    max-width: 1000px;
    width: 100%;
    min-width: 0;
    object-fit: cover;
    object-position: top;
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
    transition: 0.3s ease;
    height: 590px;
    z-index: 1;
}

/* –——————————————————————————— ABOUT ME DESCRIPTION –——————————————————————————— */

.about-me {
    display: flex;
    flex-direction: column;
    width: 425px;
    flex: 0 0 auto;
    justify-content: space-between;
    margin: 0 25px;
    transition: 0.3s ease;
}

.me-des {
    height: 100%; border-radius: 10px;
    background: 
        linear-gradient(150deg, var(--blue), #D29484, transparent 30%),
        linear-gradient(330deg, var(--blue), var(--purple), transparent 30%),
        linear-gradient(225deg, #D29484, var(--red),var(--blue), var(--purple), var(--red), var(--blue));
    padding: 20px;
    /* border: 1.5px solid var(--dark); */
    margin: 0;
    transition: 0.2s ease-in-out;
}

.me-des h1 {
    font: 100 55px/1 "ohno-blazeface", sans-serif;
    font-style: italic;
    text-indent: -5px;
    /* letter-spacing: 1.5px; */
    font-feature-settings: "ss01";
    text-wrap: nowrap;
    color: var(--dark);
    margin: 10px;
    transition: 0.2s ease;
}

.me-des h1:hover {
    transform: rotate(3deg);
}

.me-des h2 {
    font: 500 28px/1.25 "kit-rounded", sans-serif;
    letter-spacing: .25px;
    text-wrap: nowrap;
    color: var(--cream);
    margin: 15px 10px 30px 10px;
    transition: .2s ease;
}

.me-des h2:hover {
    transform: rotate(3deg) translateY(5px);
}

.me-des p {
    color: var(--cream);
    font: 400 14px/1.5 "kit-rounded", sans-serif;
    margin: 20px 10px 10px 10px;
}

.me-des:hover {
    transform: scale(104%);
}

/* –——————————————————————————— STYLE THE SOCIALS –——————————————————————————— */

.socials {
    transition: 0.2s ease-in-out;
    z-index: 10;
    flex-wrap: wrap;
    font: 100 16px/1.35 "kit-rounded", sans-serif;
}

.socials > div {
    border-radius: 10px;
    font: 400 16px/1.5 "kit-rounded", sans-serif;
    color: var(--cream);
    padding: 12px 12px 7px 12px;
    margin: 17px 0 0 0;
    
}

.socials div a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* style the svg icons */
.socials div svg {
    height: 20px;
    position: relative;
    bottom: 1.5px;
}

.socials svg path {
    fill: var(--cream);
    stroke-width: 0px;
    transition: 0.2s ease-in-out;
}

.socials div div {
    margin-left: 7px;
}

.email-button {
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}

.linkedin-button {
    background-color: #AAB3C5;
    transition: 0.2s ease-in-out;
}

.instagram-button {
    background-color: #D29484;
    transition: 0.2s ease-in-out;
}

.socials > div:hover {
    transform: scale(104%);
    border-radius: 7px;
    background-color: var(--dark);
}

.email-button:hover {
    color: var(--purple);
}
.email-button:hover path {
    fill: var(--purple);
    stroke-width: 0px;
}
.linkedin-button:hover {
    color: var(--blue);
}
.linkedin-button:hover path {
    fill: var(--blue);
    stroke-width: 0px;
}
.instagram-button:hover {
    color: var(--orange);
}
.instagram-button:hover path {
    fill: var(--orange);
    stroke-width: 0px;
}

/* –——————————————————————————— CURRENTLY STYLING –——————————————————————————— */
.currently {
    display: flex;
    flex-direction: column;
    margin-left: auto; 
    margin-right: 0;
    text-wrap: nowrap;
    transition: 0.2s ease;
}

.currently h3 {
    font: 500 25px/1 "kit-rounded", sans-serif;
    letter-spacing: .25px;
    color: var(--dark);
    padding: 15px 20px 5px 20px;
    background-color: var(--purple);
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
    margin: 0 0 25px 0;
}

.currently div div {
    padding: 12px 17px 7px 17px;
    margin: 18px auto;
    border-radius: 7px;
    width: 200px;
    color: var(--dark);
    font: 500 15px/1.5 "kit-rounded", sans-serif;
    letter-spacing: .5px;
    transition: 0.2s ease-in-out;
}
.currently h4 {
    font: 500 20px/1 "kit-rounded", sans-serif;
    letter-spacing: .25px;
    color: var(--cream);
    margin: 25px 0 0px 20px;
}
.listening {
    background-color: var(--dark);
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
    padding-bottom: 7px;
    margin-bottom: 25px;
}
.learning {
    background-color: var(--dark);
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
    padding-bottom: 7px;
}
.listening div:nth-of-type(1) {
    background-color: var(--red);
}
.listening div:nth-of-type(2) {
    background-color: var(--blue);
}
.listening div:nth-of-type(3) {
    background-color: var(--orange);
}
.learning div:nth-of-type(1) {
    background-color: var(--purple);
}
.learning div:nth-of-type(2) {
    background-color: var(--red);
}
.learning div:nth-of-type(3) {
    background-color: var(--blue);
}
.currently div div:hover {
    transform: scale(104%);
}
/* .learning div:hover {
    transform: scale(104%);
} */

/* –——————————————————————————— BOTTOM HALF PAGE POSITIONING –——————————————————————————— */
.additional {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
}

/* –——————————————————————————— TOOLS –——————————————————————————— */
.tools {
    /* margin: 50px 0 0 0; */
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    max-height: fit-content;
    position: relative;
}

.tools div {
    margin-right: 25px;
    margin-top: 0;
}

.tools ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 17px 15px;
    max-width: 100%;
    min-width: 0;
    display: flex;
    background-color: var(--dark);
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
}

.tools h3 {
    font: 500 25px/1 "kit-rounded", sans-serif;
    letter-spacing: .25px;
    color: var(--dark);
    border-radius: 10px;
    padding: 20px 20px 7px 25px;
    background-color: var(--purple);
    margin: 0;
}

/* STYLE LIST ITEMS */
.tools div li {
    padding: 14px 17px 8px 17px;
    margin: 5px 5px;
    /* border: 1.5px solid var(--dark); */
    border-radius: 10px;
    font: 400 16px/1.5 "kit-rounded", sans-serif;
    letter-spacing: 0.2px;
    text-wrap-mode: nowrap;
    list-style: none;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-basis: 25%;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: 100%;
    /* min-width: auto; */
    color: var(--dark);
    transition: .3s ease;
}

.tools div li div {
    margin: 0 auto;
}

/* SET COLOR PATTERN */
.tools li:nth-child(4n) {
    background-color: var(--purple);
}
.tools li:nth-child(4n+1) {
    background-color: var(--blue);
}
.tools li:nth-child(4n+2) {
    background-color: var(--red);
}
.tools li:nth-child(4n+3) {
    background-color: var(--orange);
}

/* SET HOVER SCALE EFFECT */
.tools li:hover {
    transform: scale(105%);
    border-radius: 7px;
}

.colorblock {
    display: flex;
    height: 100%;
    /* height: 100%; */
    margin-top: 25px;
    width: auto;
    border-radius: 10px;
    background: 
        linear-gradient(150deg, var(--purple), var(--orange), transparent 30%),
        linear-gradient(330deg, var(--red), var(--purple), transparent 30%),
        linear-gradient(225deg, var(--purple), var(--orange), var(--blue), var(--red), var(--blue));
    /* border: 1.5px solid var(--dark); */
}
.colorstack {
    position: absolute;
    display: none;
}

/* –——————————————————————————— IMAGE 2 –——————————————————————————— */

.pic-2 {
    display: flex;
    flex: 0 1 auto;
    /* border: 1.5px solid var(--dark); */
    /* margin: 0 0 0 20px; */
    border-radius: 10px;
    max-width: 475px;
    min-width: 350px;
    height: 500px;
    object-fit: cover;
    align-self: flex-start;
    margin-left: auto; 
    margin-right: 0;
    /* transition: 0.3s ease-in; */
}

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1380px) {
    .pgewrapper {
        margin: 50px 70px 70px 70px;
    }
    .line {
        left: 33px; top: 0px;
    }
    .star{
        left: 23.5px;
    }
}

@media (max-width: 1200px) {
    .currently {
        position: absolute;
        display: none;
    }
    .about-me {
        margin-right: 0;
    }
}

@media (max-width: 1040px) {
    .pgewrapper {
        margin: 50px 50px 70px 70px;
    }
    #star1 {
        margin-top: 417px;
    }
    .currently {
        position: absolute;
        display: none;
    }
    .me {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pic-2 {
        display: none;
        position: absolute;
    }
    .colorblock {
        position: absolute;
        display: none;
    }
    .pic-1 {
        height: 350px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: 10% 10%;
        flex-grow: 1;
        margin-bottom: 25px;
        align-self: flex-start;
    }
    .about-me-direction {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
    }
    .about-me {
        min-width: 0;
        max-width: 450px;
        width: 100%;
        margin: 0;
    }
    .colorstack {
        position: static;
        display: flex;
        margin-left: 25px;
        /* height: 100%; */
        min-height: 0px;
        max-height: 1000px;
        width: 100%;
        /* max-width: 300px; */
        min-width: 0;
        border-radius: 10px;
        background: 
            linear-gradient(150deg, var(--purple), var(--orange), transparent 30%),
            linear-gradient(330deg, var(--red), var(--purple), transparent 30%),
            linear-gradient(225deg, var(--purple), var(--orange), var(--blue), var(--red), var(--blue));
            /* border: 1.5px solid var(--dark); */
    }
    .tools > div {
        margin: 0;
    }
    .tools ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 17px 15px;
        width: 100%;
        min-width: 0;
    }
    .tools li {
        font: 300 15px/1.5 "kit-rounded", sans-serif;
        padding: 12px 15px;
    }
    .me {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 620px) {
    .colorstack {
        display: none;
        position: absolute;
    }
    .pgewrapper {
        margin: 50px 30px 70px 50px;
    }
    .line {
        left: 23px; top: 0px;
    }
    .star{
        left: 13.5px;
    }
    .me {
        margin: 0 0 20px 0;
    }
    .about-me {
        max-width: 100%;
    }
    .me-des h1  {
        font: 100 45px/1 "ohno-blazeface", sans-serif;
        font-style: italic;
        text-indent: -5px;
        letter-spacing: 1.5px;
        font-feature-settings: "ss01";
        text-wrap: nowrap;
        color: var(--dark);
    }
    .me-des:hover {
        transform: scale(103%);
    }
    .me-des h2 {
        font: 500 23px/1 "kit-rounded", sans-serif;
        letter-spacing: .25px;
        text-wrap: nowrap;
    }
}
