.hidden {
    opacity: 0;
    transition: all .5s ease;
    transform: translateY(50px);
    filter: blur(3px);
}
.show {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0);
    z-index: auto;
}