:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 
  * {scroll-behavior: smooth;}

body {
    position: relative;
}
#archive {
    color: var(--blue);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--blue);
  }
/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */
.pgewrapper {
    margin: 50px 100px 90px 100px;
    transition: 0.4s ease;
    /* position: relative; */
}
.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    width: 1.2px;
    z-index: 1;
    background-color: var(--dark);
    transition: 0.4s ease;
}
.star {
    height: 25px;
    fill: none;
    stroke: none; 
    stroke-width: 1.7px;
    z-index: 10;
    position: absolute;
    left: -109.5px; top: 47%;
    transition: 0.4s ease;
}
.star2 {
    height: 25px;
    fill: var(--cream);
    stroke: var(--dark); 
    stroke-width: 1.7px;
    z-index: 10;
    position: absolute;
    left: -109.5px; top: 47%;
    transition: 0.4s ease;
}

/* –——————————————————————————— PROJECT STYLING –——————————————————————————— */
.projects {
    display: flex;
    flex-direction: column;
}
.project-row {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
}
.img-gallery figure {
    margin: 10px;
    position: relative;
    transition: 0.2s ease;
    border-radius: 10px;
    background-color: var(--dark);
}
.img-gallery img {
    border-radius: 10px;
    display: flex;
    flex: 0 1 50%;
    width: 100%;
    max-width: 2000px;
    min-width: 0;
    height: 500px;
    /* height: 400px; */
    /* max-width: 2000px;
    min-width: 0px;
    height: 350px; */
    object-fit: cover;
    transition: 0.2s ease;
}
#opportunity-img {
    object-position: right;
}
#architecture-img {
    object-position: top;
}
.img-gallery {
    position: relative;
    transition: .3s ease;
}

/* –——————————————————————————— FIGCAPTION –——————————————————————————— */
figcaption {
    transition: 0.2s ease;
}
#proj-name {
    opacity: 0;
    color: var(--cream);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font: 500 25px/1 "kit-rounded", sans-serif;
  
    position: absolute;
    top: 5px; right: 5px; bottom: 30px; left: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    /* z-index: 10; */
  }
#proj-date {
    opacity: 0;
    color: var(--cream);
    font: 400 14px/1.25 "kit-rounded", sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 1px;

    position: absolute;
    top: 40px; right: 5px; bottom: 5px; left: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s ease;
  }
.img-gallery:hover {
    cursor: pointer;
}
.img-gallery:hover img {
    opacity: 60%;
    /* transform: scale(103%); */
}
#hover1:hover + svg {
    fill: var(--dark);
}
#hover2:hover + svg {
    fill: var(--dark);
}
.img-gallery:hover #proj-name, .img-gallery:hover #proj-date {
    opacity: 100%;
}

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1044px) {
    .pgewrapper {
        margin: 30px 70px 70px 70px;
    }
    .line {
        position: absolute;
        left: 35px;
    }
    .star {
        fill: var(--cream);
        stroke: var(--dark); 
        position: absolute;
        left: -64.5px;
    }
    .star2 {
        position: absolute;
        left: -64.5px;
    }
}
@media (max-width: 900px) {
    .star {
        position: absolute;
        top: 73%;
        left: -44.5px;  
    }
    .pgewrapper {
        margin: 30px 70px 70px 70px;
    }
    .line {
        position: absolute;
        left: 35px;
    }
    .img-gallery img {
        height: 350px;
    }
    .project-row {
        flex-direction: column;
    }
    .star2 {
        position: absolute;
        left: -44.5px; top: 23%;
    }
}
@media (max-width: 615px) {
    .pgewrapper {
        margin: 30px 40px 70px 40px;
    }
    .star2 {
        position: absolute;
        left: -37.5px;
        top: 23%
    }
    .star {
        position: absolute;
        left: -37.5px;
        top: 73%;
    }
    .line {
        position: absolute;
        left: 22px;
    }
}
@media (max-width: 450px) {
    .pgewrapper {
        margin: 30px 30px 70px 40px;
    }
    .img-gallery img {
        height: 250px;
    }
    .star2 {
        position: absolute;
        left: -27.5px;
        top: 23%
    }
    .star {
        position: absolute;
        left: -27.5px;
        top: 73%
    }
}