:root {
    --accent-1: #f3b9e5;
    --accent-2: #5743a0;
}
/* –——————————————————————————— IMAGE STYLING –——————————————————————————— */
.logo-box div {
    background-color: #f3b9e5;
}
video {
    border-radius: 5px;
    width: 475px;
    object-fit: cover;
}
.logo-box img {
    height: 400px;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1125px) {
    .logo-box img {
        height: 250px;
    }
    video {
        border-radius: 5px;
        width: 300px;
        object-fit: cover;
    }
    .logo-box {
        height: 350px !important;
    }
}
@media (max-width: 675px) {
    video {
        border-radius: 5px;
        width: 200px;
        object-fit: cover;
    }
}