:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */
#baybeach {
    color: var(--blue);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--blue);
  }
body {
    position: relative;
}
.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    z-index: 1;
    background-color: var(--dark);
    transition: 0.4s ease;
}
.star {
    z-index: 10;
    position: absolute;
    left: -109.5px;
    transition: 0.4s ease;
}
.pgewrapper {
    margin: 10px 100px 90px 150px;
    transition: 0.4s ease;
}

/* –——————————————————————————— INTRO –——————————————————————————— */

.intro .star {
    top: 13px;
}
.small-star {
    height: 18px;
    fill: var(--cream);
    stroke: var(--dark); 
    stroke-width: 3.2px;
    z-index: 10;
    position: absolute;
    left: -106.5px;
    top: -3px;
    transition: 0.4s ease;
}
.intro {
    position: relative;
    margin-bottom: 80px;
}
.description {
    position: relative;
    flex-direction: column !important;
}


/* –——————————————————————————— COMPARE –——————————————————————————— */

.compare {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    position: relative;
}
.compare .star {
    top: 24px;
}
.compare div {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.current {
    padding-right: 10px;
    padding-left: 0;
}

.compare div img {
    display: flex;
    height: 325px;
    width: 100%;
    margin: 40px auto 10px auto;
    object-fit: contain;
}

.compare div h2 {
    margin: 0 auto;
}

/* –——————————————————————————— PROTOTYPES –——————————————————————————— */

.prototypes {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    position: relative;
}
.prototypes .star {
    top: 28px;
}
.prototypes h2 {
    margin-top: 25px;
}
.prototypes div {
    display: flex;
    height: auto;
    flex-direction: row;
}

.prototypes figure {
    margin: 0;
}

.prototypes div img {
    flex: 0 1 33.333%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

.prototypes div figure:nth-child(2) {
    margin: 0 30px;
}

.prototypes > img {
    border-radius: 10px;
    margin: 0 0 30px 0;
}
#stationery {
    margin-top: 20px;
}
#poster {
    width: 100%;
    min-width: 0;
    object-fit: cover;
    height: 700px;
}
.prototypes h4 {
    margin: 0;
}
.prototypes p {
    margin-bottom: 0;
}

/* –——————————————————————————— PROCESS –——————————————————————————— */

.process {
    display: flex;
    flex-direction: column;
    position: relative;
}
.process .star {
    margin: 0;
}
.process > div {
    display: flex;
    flex-direction: column;
}
.sketches div:last-child{
    display: flex;
    flex-direction: row;
}
.process h2 {
    margin: 0;
}
.process > img {
    max-width: 1200px;
    margin: 30px auto 40px auto;
    height: 100%;
    align-self: start;
}
.process div img:first-child{
    display: flex;
    border-radius: 10px;
    max-width: 300px;
    min-width: 0;
    /* width: 100%; */
    height: auto;
    margin-right: 30px;
}
.process div img:nth-child(2){
    display: flex;
    border-radius: 10px;
    max-width: 700px;
    min-width: 0;
    height: auto;
}
.process h4 {
    font: 500 16px/.75 signika, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--dark);
    margin: 0;
}

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */

@media (max-width: 1154px) {
    .pgewrapper {
        margin: 10px 70px 90px 70px;
    }
    .line {
        position: absolute;
        left: 30px; top: 0px;
    }
    .star {
        left: -49.5px;
    }
    .small-star {
        left: -46.5px;
    }
}

@media (max-width: 615px) {
    .pgewrapper {
        margin: 10px 50px 90px 50px;
    }
    .line {
        position: absolute;
        left: 23px; top: 0px;
    }
    .star {
        left: -36.5px;
    }
    #poster {
        height: 600px;
    }
    .small-star {
        left: -33.5px;
    }
    .compare {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
    .current img {
        margin-bottom: 60px;
    }
    .prototypes div figure:nth-child(2) {
        margin-left: 0; margin-right: 0;
    }
    .prototypes div {
        margin: 0;
        flex-direction: column;
    }
    /* .prototypes > img {
        margin: 0 0 20px 0;
    } */
    .prototypes div img {
        margin: 0 0 20px 0;
    }
    #stationery {
        margin-top: 0px;
    }
    .process div img:first-child {
        margin-right: 20px;
    }
}
