:root {
    --accent-1: #f48862;
    --accent-2: #337f7b;
}
/* –——————————————————————————— IMAGE STYLING –——————————————————————————— */
.logo-box div {
    background-color: #337f7b;
}
.logo-box img {
    height: 300px;
}
.row:not(:nth-child(1)) img {
    width: 100%;
    object-fit: cover;
}
.exposition-imgs .row:nth-child(3) {
    background-color: var(--accent-1);
    border-radius: 10px;
}
.exposition-imgs .row:nth-child(3) img {
    width: 90%;
    padding: 70px 0 50px 0;
    margin: 0 auto;
}
.animation img {
    max-width: 2000px;
    min-width: 0px;
    width: 100%;
}
.exposition-imgs .row:nth-child(2) {
    display: grid !important;
    grid-template-columns: 1.33fr 1fr;
}
.magazines {
    display: grid !important;
    grid-template-columns: 1fr 2.5fr;
}
.magazines img, .app img {
    object-fit: cover;
}
.app {
    display: grid !important;
    grid-template-columns: 2.65fr 1fr;
}
.color-palette .color-first {
    width: 55%;
}
.color-palette > div > div {
    border-radius: 10px;
    position: relative;
}
.color-palette .color-first > div:nth-child(1){
    background-color: #337f7b;
    height: 400px;
    width: 100%;
}
.color-palette .color-first > div:nth-child(2){
    background-color: #f48862;
    height: 237px;
}
.color-palette .column:last-child {
    width: 45%;
}
.color-palette .column:last-child > div:nth-child(1){
    background-color: #5B3727;
    height: 208px;
}
.color-palette .column:last-child > div:nth-child(2){
    background-color: #FAEED9;
    height: 208px;
}
.color-palette .column:last-child > div:nth-child(3){
    background-color: #EAD9B9;
    height: 208px;
}
.dark {
    color: #5B3727 !important;
}
.color-image {
    width: 250px;
    height: 652px;
}
.color-image img {
    object-fit: cover;
    object-position: right;
    height: 100%;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 925px) {
    .logo-box {
        height: 350px !important;
    }
    .logo-box img {
        height: 200px;
    }
}
@media (max-width: 1000px) {
    .color-image {
        display: none;
        position: absolute;
    }
    .color-image img {
        display: none;
        position: absolute;
    }
}
@media (max-width: 825px) {
    .color-palette {
        display: flex;
        flex-direction: column !important;
    }
    .color-palette .color-first {
        width: 100%;
    }
    .color-palette .column:last-child {
        width: 100%;
    }
    .color-palette .column > div {
        height: 200px !important;
    }
}