::selection {
    background-color: var(--orange);
    color: var(--cream);
}
::-moz-selection {
    background-color: var(--orange);
    color: var(--cream);
}
img::selection {
    background-color: var(--pink);
}
img::-moz-selection {
    background-color: var(--pink);
}
body {
    background-size: 15px 15px;
    background-position: 1% 1.5%;
    background-image:
        linear-gradient(to right, var(--opacity-brown) .75px, transparent .75px),
        linear-gradient(to bottom, var(--opacity-brown) .75px, transparent .75px);
}
/* –——————————————————————————— SPLASH PAGE –——————————————————————————— */
.splash-fade {
    animation: .5s fadeInDown;
}
.splash {
    padding: 45px 0 10px 0;
    overflow: hidden;
    position: relative;
}
.splash ~ .dashed-border {
    margin-bottom: 40px;
    transform: scaleY(65%);
}
.splash > div:first-child {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-position: 1% 1.5%;
    background-size: 15px 15px;
    border-radius: 5px;
}
.web-screen-intro {
    width: 80%;
    margin: 0 auto 20px auto;
}
.mobile-screen-intro {
    display: none;
    position: absolute;
}
/* –——————————————————————————— GIF SCROLL –——————————————————————————— */
.gif-main {
    max-width: 1800px;
    width: 300;
    min-width: 0px;
    height: 200px;
    border-radius: 5px;
    background-repeat: repeat-x;
    background-size: 1800px 150px;
    margin: 0 auto;
    animation-name: scroll-gif;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: .2s ease;
    margin-top: 40px;
}
@keyframes scroll-gif {
from {background-position: 0 0;}
to {background-position: 1800px 0;}
}
.gif-main {
    height: 150px;
    width: 70%;
    border-radius: 100px;
    border: solid 1.25px var(--brown);
    z-index: 2;
    background-color: var(--brown);
    background-image: url(index/main-gif.jpg);
}
.gif-main ~ div {
    position: relative;
}
/* –——————————————————————————— PROJECT PREVIEWS –——————————————————————————— */
.work-previews {
    display: flex;
    margin: 0 40px;
}
.pro-preview-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    gap: 20px;
}
.pro-preview {
    display: flex;
    flex-direction: column;
    height: 440px;
    flex-basis: calc(50% - 10px);
    position: relative;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
}
.pro-preview figure {
    overflow: hidden;
    border-radius: 10px;
    max-width: 1800px;
    min-width: 0;
    width: 100%;
}
.pro-preview img {
    width: 100%;
    object-fit: cover;
    min-height: 440px;
    max-height: 1000px;
    height: 100%;
    transition: .3s ease;
}
.pro-preview div {
    align-self: center;
    opacity: 0;
    transition: .3s ease;
    position: absolute;
    margin: 0 20px;
    top: 50%;
    transform: translatey(-45%) scale(90%);
}
.pro-preview div p:nth-child(1) {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    line-height: 1.05;
    font-size: 50px;
    letter-spacing: .35px;
    color: var(--cream);
    text-align: center;
}
.pro-preview div p:nth-child(2) {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .5px;
    color: var(--cream);
    text-align: center;
    white-space: normal;
}
.pro-preview a figure {
    background-color: var(--brown);
}
.pro-preview a:hover {
    height: 80%;
}
.pro-preview a:hover img {
    filter: blur(5px);
    transform: scale(105%);
    opacity: 65%;
}
.pro-preview a:hover div {
    opacity: 1;
    height: auto;
    transform: translatey(-50%) scale(100%);
}
/* .pro-preview-wrap .pro-preview:first-child {
    margin-right: 7.5px;
}
.pro-preview-wrap .pro-preview:last-child {
    margin-left: 7.5px;
} */
.work-previews .pro-preview-wrap:nth-child(1) {
    z-index: 1;
}
.work-previews .pro-preview-wrap:nth-child(2) {
    z-index: 2;
}
.work-previews .pro-preview-wrap:nth-child(3) {
    z-index: 3;
}
.work-previews .pro-preview-wrap:nth-child(4) {
    z-index: 4;
}
.two-line-header {
    transform: translateY(-55px);
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1250px) {
    h1 {
        width: 585px !important;
    }
    #line-1::after {
        content: "\a";
        white-space: pre;
    }
    .splash-text {
        display: flex;
        flex-direction: row;
    }
    .splash-mediums {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        /* max-width: 550px;
        min-width: fit-content; */
        width: 550px;
        margin-right: 40px;
        margin-top: 15px;
    }
    .splash-mediums div:nth-child(1), .splash-mediums div:nth-child(2) {
        margin-right: 0;
    }
    .splash-mediums div { /* WHY WONT THIS WORKKKKKKK*/
        max-width: 550px;
        min-width: fit-content;
        width: 100%;
        display: block;
        position: relative;
        margin: 10px 15px;
        padding: 10px 20px;
        margin: 10px 0 10px auto;
    }
    .two-line-header {
        transform: translateY(-40px);
    }
    .gif-main {
        width: 80%;
    }
    .splash div img {
        width: 90%;
    }
    .pro-preview {
        flex-basis: calc(50% - 10px);
    }
}
@media (max-width: 765px) {
    .pro-preview {
        flex-basis: 100%;
    }
    .splash-text {
        position: relative;
    }
    .splash-mediums {
        position: relative;
        display: flex;
        flex-direction: column !important;
        max-width: 700px;
        min-width: fit-content;
        width: 100%;
    }
    .splash-mediums div:nth-child(1), .splash-mediums div:nth-child(2) {
        margin-right: 0;
    }
    .splash-mediums div { /* WHY WONT THIS WORKKKKKKK*/
        width: auto;
        margin-top: 10px; margin-bottom: 10px;
    }
    .two-line-header {
        transform: translateY(-40px);
    }
    .gif-main {
        width: 70%;
        height: 100px;
    }
    .web-screen-intro {
        display: none;
        position: absolute;
    }
    .mobile-screen-intro {
        margin-top: 20px !important;
        display: block;
        position: relative;
        width: 75% !important;
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 645px) {
    h1 {
        font-size: 70px;
    }
    .gif-main {
        width: 80%;
    }
    .web-screen-intro {
        display: none;
        position: absolute;
    }
    .mobile-screen-intro {
        margin-top: 20px !important;
        display: block;
        position: relative;
        width: 90% !important;
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 535px) {
    h1 {
        font-size: 50px;
    }
    .two-line-header {
        transform: translateY(-30px);
    }
}