:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */
#matchbooks {
    color: var(--red);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--red);
  }
body {
    position: relative;
}
h2 {
    margin-bottom: 40px;
}
.description {
    position: relative;
    flex-direction: column !important;
}
/* –——————————————————————————— INTRO –——————————————————————————— */
.images img {
    object-position: 90%;
}
.intro {
    position: relative;
    margin-bottom: 80px;
}
/* –——————————————————————————— DETAIL IMAGES –——————————————————————————— */
.media-imgs {
    display: none;
    position: absolute;
}
.details {
    margin-bottom: 60px;
    position: relative;
}
.details img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 14px;
}
.details > img:first-child {
    margin-bottom: 7px !important;   
}
.details div {
    display: flex;
    position: static;
    flex-direction: row;
    min-width: 0;
    width: 100%;
}
.details div img {
    width: 100%;
    max-width: 900px;
    min-width: 0;
}
.details div img:first-child {
    margin-right: 14px;
}

/* –——————————————————————————— PROCESS & PLANNING –——————————————————————————— */
.process {
    position: relative;
}
.process .star {
    margin-top: -15px;
}
.process img {
    border-radius: 10px;
    width: 90%;
    min-width: 0;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1144px) {
    .details div img:first-child {
        margin-right: 14px;
    }
    .details img {
        width: 100%;
    }
    .process img {
        width: 100%;
    }
    .details div {
        width: 100%;
    }
}
/* @media (max-width: 615px) {
    .details div img:first-child {
        margin-right: 10px;
    }
    .images {
        margin-bottom: 10px;
    }
    .details img {
        margin-bottom: 10px;
    }
    
} */