:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */

#matchbooks {
    color: #482d84;
}
body {
    position: relative;
}
.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    width: 1.5px;
    z-index: 1;
    background-color: #482d84;
    transition: 0.4s ease;
}
.star {
    height: 25px;
    fill: #f9f0ef;
    stroke: #482d84; 
    stroke-width: 2.5px;
    z-index: 10;
    position: absolute;
    left: -109px; top: 12px;
    transition: 0.4s ease;
}
.pgewrapper {
    margin: 50px 100px 90px 150px;
    transition: 0.4s ease;
}
h2 {
    font: 400 28px/1.25 Signika, sans-serif;
    color: #482d84;
    margin-bottom: 40px;
}
h3 {
    font: 500 16px/.75 signika, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #482d84;
    margin: 0;
}
p {
    font: 300 14px/1.25 Signika, sans-serif;
    color: #482d84;
    max-width: 600px;
    margin-bottom: 50px;
}
.description {
    position: relative;
    flex-direction: column !important;
}
.small-star {
    height: 18px;
    fill: #f9f0ef;
    stroke: #482d84; 
    stroke-width: 3.2px;
    z-index: 10;
    position: absolute;
    left: -106.5px;
    top: -3px;
    transition: 0.4s ease;
}
h5 {
    font: 300 14px/1.25 Signika, sans-serif;
    color: #D17670;
    margin: 0;
}

/* –——————————————————————————— STARTING IMAGES –——————————————————————————— */
.image {
    display: flex;
    flex-direction: row;
}
.image img {
    border: 1.5px solid #482d84;
    border-radius: 10px;
    display: flex;
    
}
.image img {
    /* max-width: 950px; */
    width: 100%;
    min-width: 0;
    max-height: 550px;
    object-fit: cover;
    margin-bottom: 40px;
    flex-shrink: 1;
}

/* –——————————————————————————— INTRO –——————————————————————————— */
.intro {
    position: relative;
    margin-bottom: 80px;
}
.intro h1 {
    font: 400 40px/1.25 Signika, sans-serif;
    color: #482d84;
    margin: 0 0 35px 0;
}
.intro p:last-child {
    font: 300 14px/1.25 Signika, sans-serif;
}
/* –——————————————————————————— DETAIL IMAGES –——————————————————————————— */
.media-imgs {
    display: none;
    position: absolute;
}
.details {
    margin-bottom: 100px;
    position: relative;
}
.details img {
    border: 1.5px solid #482d84;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.details div {
    display: flex;
    position: static;
    flex-direction: row;
    min-width: 0;
    width: 100%;
}
.details div img {
    width: 100%;
    max-width: 900px;
    min-width: 0;
}
.details div img:first-child {
    margin-right: 30px;
}

/* –——————————————————————————— PROCESS & PLANNING –——————————————————————————— */
.process {
    position: relative;
}
.process .star {
    top: 4px;
}
.process img {
    border: 1.5px solid #482d84;
    border-radius: 10px;
    width: 90%;
    min-width: 0;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1144px) {
    .pgewrapper {
        margin: 50px 70px 90px 70px;
    }
    .line {
        left: 30px; top: 0px;
    }
    .star {
        left: -49px;
    }
    .small-star {
        left: -46.5px;
    }
    .details div img:first-child {
        margin-right: 30px;
    }
    .details img {
        width: 100%;
    }
    .process img {
        width: 100%;
    }
    .details div {
        width: 100%;
    }
}
@media (max-width: 615px) {
    .pgewrapper {
        margin: 50px 50px 90px 50px;
    }
    .line {
        left: 23px; top: 0px;
    }
    .star {
        left: -36px;
    }
    .small-star {
        left: -33.5px;
    }
    .details div img:first-child {
        margin-right: 20px;
    }
    .images {
        margin-bottom: 20px;
    }
    .details img {
        margin-bottom: 20px;
    }
    
}