:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */
#matchbooks {
    color: var(--orange);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--orange);
  }
body {
    position: relative;
}
.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    background-color: var(--dark);
    transition: 0.4s ease;
}
.star {
    position: absolute;
    left: -109.5px; top: 12px;
    transition: 0.4s ease;
}
.pgewrapper {
    margin: 10px 100px 90px 150px;
    transition: 0.4s ease;
}
h2 {
    margin-bottom: 40px;
}
.description {
    position: relative;
    flex-direction: column !important;
}
.small-star {
    position: absolute;
    left: -106.5px;
    top: -3px;
    transition: 0.4s ease;
}

/* –——————————————————————————— INTRO –——————————————————————————— */
.images img {
    object-position: 90%;
}
.intro {
    position: relative;
    margin-bottom: 80px;
}
.intro p:last-child {
    font: 300 14px/1.25 Signika, sans-serif;
}
/* –——————————————————————————— DETAIL IMAGES –——————————————————————————— */
.media-imgs {
    display: none;
    position: absolute;
}
.details {
    margin-bottom: 60px;
    position: relative;
}
.details img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.details div {
    display: flex;
    position: static;
    flex-direction: row;
    min-width: 0;
    width: 100%;
}
.details div img {
    width: 100%;
    max-width: 900px;
    min-width: 0;
}
.details div img:first-child {
    margin-right: 30px;
}

/* –——————————————————————————— PROCESS & PLANNING –——————————————————————————— */
.process {
    position: relative;
}
.process .star {
    margin-top: -15px;
}
.process img {
    border-radius: 10px;
    width: 90%;
    min-width: 0;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 1144px) {
    .pgewrapper {
        margin: 10px 70px 90px 70px;
    }
    .line {
        left: 30px; top: 0px;
    }
    .star {
        left: -49.5px;
    }
    .small-star {
        left: -46.5px;
    }
    .details div img:first-child {
        margin-right: 30px;
    }
    .details img {
        width: 100%;
    }
    .process img {
        width: 100%;
    }
    .details div {
        width: 100%;
    }
}
@media (max-width: 615px) {
    .pgewrapper {
        margin: 10px 50px 90px 50px;
    }
    .line {
        left: 23px; top: 0px;
    }
    .star {
        left: -36.5px;
    }
    .small-star {
        left: -33.5px;
    }
    .details div img:first-child {
        margin-right: 20px;
    }
    .images {
        margin-bottom: 20px;
    }
    .details img {
        margin-bottom: 20px;
    }
    
}