:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 
  * {scroll-behavior: smooth;}

  @import url('');

  body {
    background-color: #f9f0ef;
    font: 300 15px/1.5 Signika, sans-serif;
    letter-spacing: 0.2px;
    margin: 0;
  }
   @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
.pgewrapper div {
    animation: .5s fadeInUp;
}

/* –——————————————————————————— STYLE THE CONTACT INFO BAR –——————————————————————————— */

.contact-head a {
  display: block;
  z-index: 1001;
  transition: .2s ease;
}
.contact-head header {
  display: flexbox;
  background: #f9f0ef;
  max-width: 100%;
  height: 45px;
  margin: 0 auto;
  border-bottom: 1.5px solid #482d84;


  color: #482d84;
  font: 400 28px/1 eckmannpsych-medium, Signika, sans-serif;
  letter-spacing: 1.5px;
  font-feature-settings: "ss01";

  
  position: relative;
  z-index: 1000;
} 
.contact-head header ul {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.contact-head header li {
  list-style: none;
  flex: 0 0 auto;
  min-width: 10px;
  margin: 0px 10px 0;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
}
.contact-head a:hover {
  cursor: pointer;
  color: #D17670;
}
.header-icon {
  fill: #482d84;
  stroke-width: 0;
  height: 30px;
  margin-top: 7px;
}
#head-icon {
  height: 25px; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: auto;
  transition: 0.2s ease;
  margin-top: 4px;
}
#head-logo {
  height: 30px;
  margin-top: 7px;
  transition: 0.2s ease;
}
.contact-head li:nth-child(4) {
  position: relative;
  top: 7px;
  left: 30%; right: 30%;
  justify-self: center;
  width: auto;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  align-content: center;
  transition: 0.2s ease;
}
.contact-head li:nth-child(5) {
  align-items: left;
  margin-left: auto;
}
/* .contact-head {
    position: relative;
    width: 100vw;
    height: 35px;
    z-index: 1000 !important;
    background-color: #f9f0ef;
}
.contact-head img {
    object-fit: cover;
    width: 100%;
    height: 35px;
    border-bottom: 1.5px solid #482d84;
} */

@media (max-width: 450px) {
  header li:nth-child(4) {
    display: none;
  }
  header li a {
    transform: scale(95%);
  }
}

/* –——————————————————————————— STYLE THE NAV & DROPDOWN –——————————————————————————— */

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    transition: transform 0.2s;

    width: 500px;
    margin: 0 auto;
    padding: 0px, 0px;
    

    color:white;
    font: 500 12px Signika, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin: 0 auto;
    background:
        linear-gradient(150deg, #C79CBE, #D89D8A, transparent 30%),
        linear-gradient(330deg, #D17670, #C79CBE, transparent 30%),
        linear-gradient(225deg, #C79CBE, #D89D8A, #B0B9CB, #D17670, #B0B9CB);
    /* box-shadow: 0px 1px 5px rgba(52, 34, 52, 0.3); */
    border-left: 1.5px solid #482d84;
    border-right: 1.5px solid #482d84;
    border-bottom: 1.5px solid #482d84;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar ul li ul {
    transition: .1s ease-in-out;
}

/* POSITION THE NAVBAR LINKS */
.navbar li {
    display: flexbox;
    flex-direction: row;
    margin: 0 auto;
    flex: 1 0 auto;
    position: relative;
    
}

#left-list {
    padding-left: 0px;
}

#right-list {
    padding-right: 52px;
}

.navbar > ul > li:nth-child(2), .navbar > ul > li:nth-child(4), .navbar > ul > li:nth-child(5) {
    /* margin: 5px 0; */
    padding: 15px 0;
}

.navbar ul li ul li {
    margin: 0;
}


/* STYLE THE NAVBAR TEXT PRE-HOVER */
.navbar li a {
    color: white;
    border: 1.5px solid transparent;
    border-radius: 20px;
    width: 200px;
    padding: 5px 20px;
    transition: 0.2s ease;
}
.navbar li:last-child a {
    padding-bottom: 10px;
}

/* POSITION THE DROPDOWN */
.navbar ul li ul {
    position: absolute;
    top: -1000px;
    padding: 0;
    /* display: none; */
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s linear;
    z-index: -10;
    border: 1.5px solid #482d84;
    border-radius: 0 0 10px 10px;
}

/* POSITION THE DROPDOWN LIST ITEMS */
.navbar ul ul li:last-child {
    padding-bottom: 7px;
    border-radius: 0 0 10px 10px;
}

.navbar ul ul li {
    display: flex;
    flex-direction: column;
    background-color: #C79CBE;
}

/* GIVE THE DROPDOWN A BOX SHADOW */
.navbar ul ul li:first-child {
    box-shadow: inset 0px 11px 5px -10px  rgba(52, 34, 52, 0.3);
    padding-top: 8px;
}

.navtab:hover {
    border: 1.5px solid #482d84;
    border-radius: 20px;
}

.navbar li a:hover {
    color: #482d84;
    /* border: 1.5px solid #482d84;
    border-radius: 20px; */
}

.work-list div {
    width: 80px;
    height: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

/* MAKE DROPDOWN APPEAR ON HOVER */
.work-list div:hover ul{
    opacity: 100%;
    display: block;
    top: 100%;
    /* transform: translateY(0); */
}

/* –——————————————————————————— STYLE HAMBURGER –——————————————————————————— */
  .hamburger-nav {
    position: absolute;
    display: none;
    z-index: 1001;
    width: 300px;
    /* display: flex; */
    position: fixed;
    top: 0; bottom: 0;
    right: -255px;
    transition: 0.5s ease;
  }
  input:checked ~ .hamburger-nav {
    right: 0;
  }
  
  /* ======================= Columns ======================= */
  .col-1 {
    margin-top: 50px;
    align-self: flex-start;
    background: 
        linear-gradient(150deg, #D17670,#D89D8A, transparent 30%),
        linear-gradient(330deg, #d1998b, #C79CBE, transparent 30%),
        linear-gradient(225deg, #D89D8A,#B0B9CB, #C79CBE, #D89D8A, #B0B9CB);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1.5px solid #482d84;
    border-left: 1.5px solid #482d84;
    border-bottom: 1.5px solid #482d84;
    transition: .5s ease;
  }
  .col-2 {
    padding-top: 20px;
    display: flex;
    flex-grow: 1;
    background-color: #C79CBE;
    border-left: 1.5px solid #482d84;
    align-items: start;
  }
  
  /* ======================= Nav Links ======================= */
  
  .hamburger-nav li {
    list-style: none;
    max-width: 200px;
  }
  .hamburger-nav a {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: transparent;
    transition: 0.2s ease;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .work-hamburger li {
    margin-bottom: 15px;
  }
  .work-hamburger a {
    display: block;
    font: 500 12px Signika, sans-serif;
    line-height: 1.5;
  }
  .col-2 > ul > li {
    margin-bottom: 15px;
  }
  .col-2 > ul > li > a {
    padding: 5px 20px;
    font: 500 12px Signika, sans-serif;
    border: 1.5px solid transparent;
    border-radius: 20px;
  }
  .col-2 > ul {
    padding-left: 20px;
  }
  /* .work-hamburger {
    padding-left: 40px;
  } */
  .col-2 > ul > li > a:hover {
    border: 1.5px solid #482d84;
    border-radius: 20px;
    color: #482d84;
  }
  .work-hamburger li a:hover {
    color: #482d84;
  }

  /* ======================= Checkbox & Label ======================= */
  input {
    display: none;
  }
  label {
    width: 50px; height: 50px;
    display: block;
    position: absolute;
    z-index: 10;
  }
  label:hover {
    cursor: pointer;
  }
  
  /* ======================= Hamburger & Rotate Wrapper ======================= */
  .hb_wrapper {
    width: 45px; height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hb_rotate-wrapper {
    width: 25px; height: 25px;
    display: flex;
    align-items: center;
  }
  input:checked + .hamburger-nav .hb_rotate-wrapper {
    transform: rotate(135deg);
    transition: 0.3s ease-in-out;
  }
  
  /* ======================= Hamburger Lines ======================= */
  .hb_lines,
  .hb_lines::before,
  .hb_lines::after {
    background-color: #482d84;
    width: 100%; height: 1.5px;
    border-radius: 1px;
  }
  .hb_lines {
    position: relative;
  }
  .hb_lines::before,
  .hb_lines::after {
    content: "";
  }
  .hb_lines::before {
    position: absolute;
    bottom: 8px;
    transition: 0.5s ease;
  }
  .hb_lines::after {
    position: absolute;
    top: 8px;
    transition: 0.5s ease;
  }
  input:checked + .hamburger-nav .hb_lines::before,
  input:checked + .hamburger-nav .hb_lines::after {
    transform: rotate(90deg);
    top: 0;
  }
  input:checked + .hamburger-nav .hb_lines::after {
    opacity: 0;
  }
  input:checked:hover + .hamburger-nav .hb_rotate-wrapper {
    transform: rotate(225deg);
    transition: 0.3s ease-in-out;
  }


/* –——————————————————————————— NAVBAR MEDIA QUERIES –——————————————————————————— */

@media (max-width: 575px) {
    .navbar {
        display: none;
    }
    .hamburger-nav {
        display: flex;
    }
}


/* –——————————————————————————— STYLE THE FOOTER –——————————————————————————— */

.contact-foot footer {
    display: flow-root;
    background: 
        linear-gradient(150deg, #B0B9CB, #D89D8A, transparent 30%),
        linear-gradient(330deg, #B0B9CB, #C79CBE, transparent 30%),
        linear-gradient(225deg, #D89D8A, #D17670,#B0B9CB, #C79CBE, #D17670, #B0B9CB);
    max-width: 100%;
    margin: 0 auto;
    /* box-shadow: 0px -1px 5px rgba(52, 34, 52, 0.3); */
    border-top: 1.5px solid #482d84;
    z-index: 999;

    color: white;
    font: 500 20px/1 Tuppence, sans-serif;
    
    position: relative;
    /* top: 100vh; bottom: 0; */
} 

.contact-foot footer ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
.contact-foot h5 {
    font: 300 14px/1.25 Signika, sans-serif;
    color: #D17670;
    margin: 0 auto 15px auto;
    width: 100vw;
    justify-self: center;
    text-align: center;
}

.contact-foot footer ul li {
    list-style: none;
    flex: 0 0 auto;
    min-width: 0;
    margin: 0px 10px 0;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
} 
 
.contact-head li:nth-child(4) {
    position: absolute;
    bottom: 10px;
}

.contact-foot li:nth-child(5) {
    align-items: left;
    margin-left: auto;
}

#foot-icon {
    height: 25px; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
}

#foot-logo {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-foot a {
    display: block;
    z-index: 1001;
}

@media (max-width: 450px) {
  footer li:nth-child(4) {
    display: none;
  }
  footer li a {
    transform: scale(95%);
  }
  footer li:first-child {
    padding-left: 15px;
  }
  footer li:last-child {
    padding-right: 20px;
  }
}