:root {
    --accent-1: #f4c3d4;
    --accent-2: #e2765d;
}
body {
    background-size: 15px 15px;
    background-position: 1% 1.5%;
    background-image:
        linear-gradient(to right, var(--opacity-brown) .75px, transparent .75px),
        linear-gradient(to bottom, var(--opacity-brown) .75px, transparent .75px);
}
.welcome {
    margin: 10px 0 20px 0;
}
.welcome h1 {
    margin: 0 0 15px 0;
    text-align: center;
    /* font-family: "Beastly"; */
    /* font-family: "Bricolage Grotesque", sans-serif; */
    font-family: "Swear-Display", "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    color: var(--brown);
}
.welcome p {
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .35px;
    color: var(--brown);
}
.cover {
    padding: 60px 0 10px 0 !important;
}
.row {
    margin-bottom: 20px !important;
}
.img-gallery figure {
    cursor: url(cursors/pointer-light.svg), pointer !important;
}
.carousel {
    cursor: url(cursors/pointer-view-more.svg), pointer !important;
}
span a {
    color: var(--accent-2);
    /* cursor: url(cursors/pointer-light.svg), pointer !important; */
}
.animation video {
    /* max-width: 2500px;
    width: 100%; */
    border-radius: 5px;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    cursor: url(cursors/pointer-light.svg), pointer !important;
    cursor: url(cursors/pointer-light.svg), hand !important;
}
.animation {
    display: grid !important;
    gap: 10;
    grid-template-columns: 1fr 2.75fr;
}
.opportunity {
    display: grid !important;
    gap: 10;
    grid-template-columns: 4.45fr 1fr;
}
.flower {
    display: grid !important;
    gap: 10;
    grid-template-columns: 0.45fr 1fr;
}
.myths {
    display: grid !important;
    gap: 10;
    grid-template-columns: 1fr 0.45fr;
}
.platonic {
    display: grid !important;
    gap: 10;
    grid-template-columns: .6fr 1fr;
}
.brie {
    display: grid !important;
    gap: 10;
    grid-template-columns: 1fr 0.45fr;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 600px) {
    .welcome h1 {
        font-size: 40px;
        line-height: 1;
        margin: 0 0 15px 0;
    }
}