.intro h1 {
        font: 800 40px/1.25 "kit-rounded", sans-serif;
        color: var(--dark);
        margin: 0 0 5px 0;      
}
h2 {
    font: 600 28px/1.25 "kit-rounded", sans-serif;
    color: var(--dark);
    margin: 0 0 15px 0;
}
h3 {
    font: 400 12px/.75 "kit-rounded", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--dark);
    margin: 0 0 15px 0;
    border-radius: 10px;
    width: fit-content;
    padding: 12px 12px 4px 12px;
    border: 1.3px solid var(--dark);
}
h5 {
    font: 300 12px/1.25 "kit-rounded", sans-serif;
    color: var(--red);
  }
span {
    color: var(--red);
}
p {
    font: 300 14px/1.5 "kit-rounded", sans-serif;
    color: var(--dark);
    max-width: 600px;
    margin-bottom: 50px;
}
.images {
    position: relative;
    top: -47px;
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    position: relative;
}
.images img{
    min-width: 0px;
    width: 100%;
    display: flex;
    object-fit: cover;
    z-index: 10;
    position: relative;
    animation: .5s fadeInDown;
    height: 550px;
}
.color-palette img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
.description p {
    margin: 0 0 20px 0;
}
.pgewrapper {
    margin: 0px 40px 100px 40px;
    transition: 0.4s ease;
}
.category {
    display: flex;
    flex-direction: row;
    margin: 0;
}
h6 {
    margin: 0 0 15px 0;  
    color: var(--cream);
    font: 400 14px/1.5 "kit-rounded", sans-serif;
    letter-spacing: 1.5px;
    background-color: var(--dark);
    width: fit-content;
    padding: 5px 7px 0px 7px;
    border-radius: 7px;
}
h6:first-child {
    margin-right: 7px;
}
@media (max-width: 575px) {
    .pgewrapper {
        margin: 0px 20px 100px 20px;
    }
}
@keyframes fadeInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
@media (max-width: 615px){
    .images img{
        height: 400px;
    }
}