/* –——————————————————————————— COVER PAGE –——————————————————————————— */
/* body {
    background-size: 15px 15px;
    background-position: 1% 1.5%;
    background-image:
        linear-gradient(to right, var(--opacity-brown) .75px, transparent .75px),
        linear-gradient(to bottom, var(--opacity-brown) .75px, transparent .75px);
} */
.cover-fade {
    animation: .5s fadeInDown;
}
.cover {
    /* cursor: url(cursors/default-light.svg), auto !important; */
    /* background-size: 15px 15px;
    background-position: 1% 1.5%;
    background-image:
        linear-gradient(to right, var(--mid-opacity-brown) .75px, transparent .75px),
        linear-gradient(to bottom, var(--mid-opacity-brown) .75px, transparent .75px); */
    position: relative;
}
.cover ~ .dashed-border {
    margin-bottom: 40px;
    transform: scaleY(65%);
}
.cover-container {
    height: 440px;
    /* border: solid 1.25px var(--brown); */
    margin: 0;
}
.cover-container img {
    border-radius: 0px !important;
    height: 420px;
    width: 100%;
    object-fit: cover;
    background-color: var(--brown);
}
h1 {
    /* font-family: "Beastly"; */
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: var(--accent-2);
    line-height: 1;
    z-index: 10;
    /* max-width: 590px;
    min-width: 0; */
    width: 100%;
    margin: 0 auto 20px auto;
    text-align: center;
}
.pgewrapper {
    margin: 0 60px;
}
/* –——————————————————————————— TEXT –——————————————————————————— */
h2 {
    color: var(--brown);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 21px;
}
h3 {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}
.project-copy {
    color: var(--brown);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}
.project-copy span {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.photo-credit {
    color: var(--brown);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
}
.photo-credit span {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
h2 span {
    background-color: var(--accent-2);
    color: var(--accent-1);
    padding: 2px 5px;
    border-radius: 3px;
}
.project-intro-text {
    max-width: 420px;
    min-width: 0;
    width: 100%;
    /* margin: 0 0 30px 0; */
}
.project-para {
    max-width: 590px;
    min-width: 0;
    width: 100%;
    margin: 25px auto 30px auto;
}
.divider {
    background-color: var(--accent-1);
    height: 6px;
    width: 30px;
    border-radius: 1px;
    margin: 20px auto;
}
.color-name {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin: 0 20px;
    /* margin-top: 15px; */
}
.color-hex {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin: 0 20px;
    /* margin-top: 15px; */
}
.color-des {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 3px 20px 0 20px;
    max-width: 500px;
    /* margin-top: 15px; */
}
.light {
    color: var(--cream);
}
/* –——————————————————————————— INTRO BOX –——————————————————————————— */
.project-intro {
    display: flex;
    flex-direction: row;
    margin: 0 auto 30px auto;
    max-width: fit-content;
    width: 100%;
}
.project-intro div {
    display: flex;
    flex-direction: column;
}
.intro-box {
    width: 130px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--brown);
    height: fit-content;
}
.intro-detail {
    margin-bottom: 10px;
}
.intro-box div:last-child {
    margin-bottom: 0;
}
h4 {
    color: var(--brown);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 15px;    
}
h5 {
    color: var(--accent-2);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 13px;    
}
h6 {
    color: var(--cream);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 13px; 
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    cursor: url(cursors/pointer-light.svg), pointer !important;
}
#darker {
    background-color: var(--accent-2);
}
.view-process a {
    background-color: var(--accent-1);
    padding: 2px;
    border-radius: 20px;
    border: 1px solid var(--brown);
    text-decoration: none;
    transition: .2s ease;
}
.view-process a:hover {
    background-color: var(--brown) !important;
}
.view-process {
    cursor: url(cursors/pointer-light.svg), pointer !important;
}
/* –——————————————————————————— IMAGE STYLING –——————————————————————————— */
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 15px;
}
.color-palette {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logo-box {
    height: 580px;
}
.logo-box div {
    border-radius: 5px;
}
.logo-box img:nth-child(2) {
    height: 100%;
}
.logo-box div {
    width: 100%;
    align-content: center;
}
.logo-box div img {
    width: 100%;
    object-fit: contain;
}
.project-photos img {
    width: 100%;
}
.even-divide {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.triple-divide {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}
.five-divide {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.color-palette div div div {
    position: absolute;
    bottom: 0; left: 0;
    margin-bottom: 20px;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 765px) {
    .pgewrapper {
    margin: 0 20px;
    }
    h1 {
    font-size: 50px;
    }
}
@media (max-width: 675px) {
    .logo-box {
        height: 200px !important;
    }
    .logo-box img {
        height: 125px;
    }
    .cover-container h1 {
        font-size: 70px !important;
    }
}
@media (max-width: 650px) {
    .intro-box {
        display: none !important;
        position: absolute;
        /* opacity: 0; */
    }
    .project-intro-text {
        max-width: 590px;
        min-width: 0;
        width: 100%;
    }
}
@media (max-width: 550px) {
    .cover-container h1 {
        font-size: 60px !important;
    }
}
@media (max-width: 450px) {
    .cover-container h1 {
        font-size: 45px !important;
    }
}