:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— OVERALL PAGE STYLING –——————————————————————————— */
#spacemanagement {
    color: var(--blue);
}
.contact-head a:hover {
    cursor: pointer;
    color: var(--blue);
  }
body {
    position: relative;
}
.description {
    position: relative;
    flex-direction: column !important;
}
/* –——————————————————————————— INTRO –——————————————————————————— */
.intro {
    margin: 0 0 100px 0;
    position: relative;
}
.intro {
    position: relative;
    margin-bottom: 80px;
}
.intro span {
    color: var(--red);
}
.intro div {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
/* –——————————————————————————— THE GAME –——————————————————————————— */
.game {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}
.game figure {
    margin: 0;
}
.game img {
    border-radius: 10px;
    max-width: 100%;
    min-width: 0;
    margin: 0;
}
.game figure {
    margin: 0;
}
.game div {
    display: flex;
    flex-direction: row;
    margin: 0 0 4px 0;
}
.game div img {
    flex-basis: 0 1 33%;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
}
.game div figure:first-child, .game div figure:nth-child(2) {
    margin-right: 14px;
}
.game p {
    margin: 30px 0;
}
/* –——————————————————————————— RULEBOOK –——————————————————————————— */
.rulebook {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}
.rulebook figure {
    margin: 0;
}
.rulebook img {
    border-radius: 10px;
    max-width: 100%;
    min-width: 0;
    margin: 0;
}
.rulebook .mockups {
    display: flex;
    height: auto;
    flex-direction: row;
    margin: 0 0 4px 0;
}
.rulebook .mockups img {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
}
.rulebook .mockups figure:first-child {
    margin-right: 14px;
    flex: 0 1 40%;
}
.rulebook .mockups figure:last-child {
    flex: 0 1 60%;
}
.rulebook .how-to-play {
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 0 0 14px 0;
}
.how-to-play .digital {
    display: flex;
    flex-direction: row;
}
.digital img {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
}
.digital .cover {
    flex: 0 1 20%;
}
.digital .cover {
    flex: 0 1 40%;
}
.digital figure:nth-child(1), .digital figure:nth-child(2) {
    margin-right: 14px;
}
/* –——————————————————————————— PLAYTESTING –——————————————————————————— */
.playtesting {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}
.playtesting figure {
    margin: 0;
}
.playtesting img {
    border-radius: 10px;
    max-width: 100%;
    min-width: 0;
    margin: 0;
}
.playtesting div {
    display: flex;
    height: auto;
    flex-direction: row;
    margin: 0 0 4px 0;
}
.playtesting div img {
    flex-basis: 0 1 50%;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
}
.playtesting div figure:first-child {
    margin-right: 14px;
}
.playtesting p {
    margin: 0 0 15px 0 !important;
}
/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */
@media (max-width: 750px) {
    .game div {
        display: flex;
        flex-direction: column;
    }
    .rulebook .mockups {
        display: flex;
        flex-direction: column;
    }
    .how-to-play .digital {
        display: flex;
        flex-direction: column;
    }
    .playtesting div {
        display: flex;
        flex-direction: column;
    }
    figure {
        margin: 0 !important;
    }
    img {
        max-width: 100%;
        min-width: 0;
        margin: 0 0 14px 0;
    }
}