:root {
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
  }

  * { box-sizing: border-box; } 
  * { text-decoration: none; color: inherit;} 

/* –——————————————————————————— PAGE STYLING –——————————————————————————— */

#work {
    color: var(--red);
  }
.contact-head a:hover {
    cursor: pointer;
    color: var(--red);
  }
body {
    position: relative;
}
.pgewrapper {
    margin: 0px 100px 70px 150px;
    transition: 0.4s ease;
}

.work-previews {
    position: relative;
    /* padding-top: 20px; */
    /* margin: 0 80px; */
    transition: 0.4s ease;
    /* padding-left: 50px; */
}

.line {
    position: absolute;
    left: 50px; top: 0px;
    height: 100%;
    width: 1.2px;
    z-index: 1;
    background-color: var(--dark);
    transition: 0.4s ease;
    overflow: hidden;
}

.star {
    height: 25px;
    margin: 0 0 425px 0;
    fill: var(--cream);
    stroke: var(--dark); 
    stroke-width: 1.7px;
    z-index: 10;
    position: absolute;
    left: -110.5px;
    top: 62px;
    transition: 0.4s ease;
}
@keyframes fadeInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
.scrolling-gif {
    animation: .5s fadeInDown;
}


/* –——————————————————————————— SLIDER –——————————————————————————— */

/* .gif-wrapper {
    width: 100%;
    margin: 0 auto;
    justify-self: center;
} */
.scrolling-gif {
    position: relative;
    overflow-x: hidden;
    top: -47px;
    display: flex;
    height: 415px;
    max-width: 100%;
    min-width: 0;
    justify-self: center;
    margin: 0;
    background-color: var(--dark);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    z-index: 100;
    /* border-bottom: 1.3px solid var(--dark); */
}
.scrolling-gif video {
    transition: .4s ease;
    display: flex;
    height: 415px;
    width: 100%;
    margin: 0;
    /* margin-right: 20px;
    margin-left: 20px; */
    object-fit: cover;
    justify-self: center;
    justify-content: center;
    /* border-left: 1.3px solid var(--dark);
    border-right: 1.3px solid var(--dark); */
    /* border-bottom: 1.3px solid var(--dark); */
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}
.hover-hello {
    width: 100%;
}
.hello {
    color: transparent;
    font: 100 90px/1 "ohno-blazeface", sans-serif;
    font-style: italic;
    text-indent: -5px;
    transition: .4s ease;
    letter-spacing: .25px;
    position: absolute;
    margin: auto;
    text-align: center;
    justify-self: center;
    top: 33%;
    width: 100%;
}
.name {
    color: transparent;
    font: 500 28px/1 "kit-rounded", sans-serif;
    transition: .4s ease;
    position: absolute;
    margin: auto;
    text-align: center;
    top: 59%;
    width: 100%;
}
.scrolling-gif:hover video {
    opacity: 70%;
}
.scrolling-gif:hover p {
    color: var(--cream);
    text-shadow: 0 0 5px rgba(52, 34, 52, 0.3);
}
.scrolling-gif div:nth-child(2) {
    display: none;
    position: absolute;
}
.scrolling-gif img {
    display: none;
    position: absolute;
}

/* –——————————————————————————— PROJECT STYLING –——————————————————————————— */

.pro-preview {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin: 20px 0 50px 0;
    position: relative;
    border: 1.3px solid transparent;
    border-radius: 10px;
    padding: 15px;
    transition: 0.2s ease;
}

.pro-preview img {
    max-width: 900px;
    min-width: 0;
    height: 450px;
    object-fit: cover;
    flex: 1 0 400px;
    /* border: 1.3px solid var(--dark); */
    border-radius: 10px;
    transition: 0.4s ease;
    margin-left: 5px;
    
  }

.pro-des {
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
    width: 450px;
    flex: 0 1 auto;
    margin-left: 70px;
    transition: 0.2s ease-in-out;
}

.pro-preview h1 {
    /* font: 500 60px/1.25 Signika, sans-serif; */
    font: 700 60px/1.25 "kit-rounded", sans-serif;
    color: var(--dark);
    transition: 0.2s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pro-preview p {
    color: var(--dark);
    /* font: 200 18px/1.25 Signika, sans-serif; */
    font: 400 16px/1.5 "kit-rounded", sans-serif;
    letter-spacing: 1;
}

.pro-des div {
    color: var(--dark);
    /* font: 300 16px/.75 Tuppence, sans-serif; */
    font: 300 16px/.75 "kit-rounded", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    align-items: bottom;
    width: 100%;
}

.pro-des div div:nth-child(2) {
    justify-self: left;
    /* background-color: var(--red); */
    width: auto;
    padding: 12px 12px 4px 12px;
    margin: 0;
    border: 1.3px solid var(--dark);
    border-radius: 8px;
}

.division {
    width: 100%;
    height: 1.3px;
    /* background-color: var(--dark); */
    display: flex;
    flex: 1 1 auto;
    width: auto;
    margin-bottom: 2px;
}

.pro-des div div:last-child {
    position: absolute;
    right: 0;
    width: auto;
    padding: 12px 12px 4px 12px;
    margin: 0;
    border: 1.3px solid var(--dark);
    border-radius: 8px;
}

.pro-preview img:hover {
    transition: .3s ease;
    transform: scale(103%);
    cursor: pointer;
}

.pro-preview:hover {
    border: 1.3px solid var(--dark);
    border-radius: 10px;
}

.pro-preview:hover .star {
    fill: var(--red);
}

.pro-preview a:hover + .star {
    fill: var(--dark);
}

#right-align {
    object-position: right;
}

/* –——————————————————————————— SCROLL ENTRIES –——————————————————————————— */

/* @keyframes animate-in-and-out {
    entry 0%  {
      opacity: 0; transform: translateY(100%);
    }
    entry 100%  {
      opacity: 1; transform: translateY(0);
    }
    exit 0% {
      opacity: 1; transform: translateY(0);
    }
    exit 100% {
      opacity: 0; transform: translateY(-100%);
    }
  }
  
.pro-preview {
    animation: 1ms linear animate-in-and-out;
    animation-timeline: view();
} */

/* –——————————————————————————— MEDIA QUERIES –——————————————————————————— */

@media (max-width: 1044px) {
    .pgewrapper {
        margin: 0px 70px 70px 90px;
    }
    .line {
        position: absolute;
        left: 35px; top: 0;
    }
    .star {
        position: absolute;
        left: -65.5px;

    }
    .pro-preview h1 {
        font-size: 40px;
        color: var(--dark);
        transition: 0.2s ease;
    }
    .pro-des div div {
        font-size: 13px;
        padding: 12px 12px 4px 12px !important;
    }
    /* .line {
        left: 40px; top: 0px;
    }
    .scroll {
        top: 675px; left: 30.5px;
    }
     */
}
@media (max-width: 900px) {
    .pgewrapper {
        margin: 0px 70px 70px 70px;
    }
    .star {
        position: absolute;
        left: -45.5px;
        top: 430px;
    }
    .line {
        position: absolute;
        left: 35px; top: 0;
    }
    .pro-preview {
        display: flex;
        flex-direction: column;
        margin: 70px 0 60px 0;
    }
    .pro-des {
        margin: 0;
        width: 100%;
    }
    .pro-preview img {
        max-width: 100%;
        margin: 0;
        height: 400px;
    }
    .work-previews h1 {
        font-size: 38px;
        margin-bottom: 0;
        margin-top: 15px;
    }
    .pro-des p {
        margin-bottom: 40px;
    }
    .pro-des div {
        /* position: absolute;
        display: none; */
        /* position: absolute; */
        position: absolute;
        bottom: 0px;
    }
}
@media (max-width: 615px) {
    .pgewrapper {
        margin: 0px 40px 70px 50px;
    }
    .star {
        position: absolute;
        left: -38.5px;
        top: 428px;
    }
    .line {
        position: absolute;
        left: 22px; top: 0;
    }
    .work-previews h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
    .pro-preview {
        margin: 20px 0 60px 0;
    }
    .pro-preview p {
        font-size: 15px;
    }
    .pro-preview img {
        flex-basis: auto;
        min-width: 0;
    }
    .scrolling-gif p {
        transform: scale(90%);
    }
}
@media (max-width: 575px) {
    /* .gif-wrapper {
        width: 100vw;
    } */
    .scrolling-gif {
        top: 0px;
    }
    /* .scrolling-gif img {
        border-radius: 0;
        border-left: none;
        border-right: none;
    } */
    .pgewrapper {
        margin: 30px 40px 70px 50px;
    }
    .line {
        position: absolute;
        left: 22px; top: 0;
    }
}
@media (max-width: 450px) {
    .pro-preview img {
        height: 275px !important;
        object-fit: cover;
    }
    .pgewrapper {
        margin: 0px 30px 70px 40px;
    }
    .star {
        position: absolute;
        left: -29px;
/*         margin: 0 0 425px 0; */
        top: 310px;
    }
    .line {
        left: 22px; top: 0;
    }
    .hover-hello {
        display: flex;
    }
    .scrolling-gif {
        height: auto;
    }
    .scrolling-gif div:first-child{
        display: none;
        position: absolute;
    }
    .scrolling-gif img {
        opacity: 70%;
        display: flex;
        position: relative;
    }
    .scrolling-gif div:nth-child(2) {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 2000;
        min-width: 0;
    }
    .scrolling-gif img {
        width: 100%;
        height: auto;
    }
    .hello {
        color: var(--cream);
        font: 100 65px/1 "ohno-blazeface", sans-serif;
        font-style: italic;
        text-indent: -5px;
        transition: .4s ease;
        letter-spacing: .25px;
        text-shadow: 0 0 5px rgba(52, 34, 52, 0.3);
    }
    .name {
        color: var(--cream);
        font: 500 20px/1 "kit-rounded", sans-serif;
        text-shadow: 0 0 5px rgba(52, 34, 52, 0.3);
    }
}
